        *{
            margin: 0px;
            padding: 0px;
        }
        body.pages{
            width:800px; 
            padding:0 20px;
            height:auto;
            margin:auto;
            font-size:1.2em;
            background-color: #dee9f6;
        }
        .headertop{
            color: black;
            width: 780px;
            height: 20px;
            text-align: right;
            display: block;
            padding: 10px 10px;
            background-color: white;
        }
        a{
            text-decoration: none;
            font-size: 12px;
            color: black;
        }
        a:link { color: #003366; text-decoration:none; cursor: pointer; outline: none; }
        a:visited { color: #003366; text-decoration:none;}
        a:hover, a:focus { color: #669ACC; text-decoration: underline; }
        a:active { color: #000;}

            /* ==================== | 内容 style | ==================== */

        .somthing{
            border: 1px solid #dee9f6;
            border-top: 
            height: auto;
            width: 778px;
            padding: 10px;
            float: left;
            background-color: white;
        }

        .footer{
            height: 80px;
            width: 760px;
            background-color: #729ABD;
            padding: 10px 20px;
            float: right;
        }
        .box-shadow{
            box-shadow: 0px 4px 8px rgba(0,0,0,0.4)
        }
        .navigation_line_height{
            line-height: 20px;
        }
        .grid {
                        margin-left: 30px;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                }