@import url(ansys_core.css);

body {
  display: none;
}

/*TOC Display*/
#call_big_toc a,#call_big_toc li span, #call_big_toc a .filename strong{color:black;font-size:.8rem;}
#call_big_toc a.toc_active{border-bottom:2px solid #F6CF07;}
#killtoc,#extoc{background-color:transparent}
#killtoc:hover,#extoc:hover{background-color:#bbbbbb}
#killtoc,#extoc,.text-center.hpblock{margin:0px;}


/*IMAGES*/ 
.extogg.has_child:before{content:url(../media/collapsed.svg) '\00a0\00a0'}
.extogg.has_child:hover:before{content:url(../media/expandme.svg) '\00a0\00a0'}
span.has_childY:hover:before, span.show_list:before, .collapse:before,.extogg.has_child.expanded:before{content:url(../media/expanded.svg) '\00a0\00a0'}
.extogg.has_child.expanded:hover:before{content:url(../media/collapseme.svg) '\00a0\00a0'}
.mc_col:before{content:url(../../../media/mc_col_collapsed.svg) '\00a0\00a0'}
.mc_exp:before{content:url(../../../media/mc_col_expanded.svg) '\00a0\00a0'}
h5.has_child:before{content:url(../media/expandme_big.svg) '\00a0\00a0'}
h5.has_child:hover:before{content:url(../media/collapseme_big.svg) '\00a0\00a0'}
h5.has_child_expanded:before{content:url(../media/collapseme_big.svg) '\00a0\00a0'}
.toc_container .show_children:not(.expanded):before,.toc_container dt.has_child:before,.toc_container span.has_child:before{content:url(../../../media/collapsed.svg) '\00a0\00a0'}
.show_children:not(.expanded):hover:before,dt.has_child:hover:before,span.has_child:hover:before,span.has_child:before, .show_children:not(.collapse):before,.show_children:not(.expanded):before,dt.has_child:before,span.has_child:before{content:url(../../../media/expandme.svg) '\00a0\00a0'}
span.has_childY:hover:before, span.show_list:before, .collapse:before,.toc_container span.show_list:before,.show_children.expanded:before,dt.has_child.expanded:before{content:url(../../../media/expanded.svg) '\00a0\00a0'}
.show_children.expanded:hover:before,dt.has_child.expanded:hover:before{content:url(../../../media/collapseme.svg) '\00a0\00a0'}
a#all_button[aria-expanded="true"]:before,a#fav_button[aria-expanded="true"]:before{content:url(../media/collapseme.svg) '\00a0\00a0'}
a#all_button[aria-expanded="false"]:before,a#fav_button[aria-expanded="false"]:before{content:url(../media/expandme.svg) '\00a0\00a0'}

/*SEARCH*/
.search-container{height:62rem}
.greysearchbut{background-color:transparent}
.searchcontainer{padding:1rem 0 0 3rem}
.search-input,#user_query{width:30rem}
.searchblock input#user_query{width:33rem}
.searchdrop {position:absolute;margin-left:-33rem}
.searchBarItems{padding:.1rem .1rem .1rem 0rem}
.search_button input{margin-right:0rem}

#searchBar input#user_query{
	height:2.25rem;
	max-width:30rem;
	padding-left:1.5rem;
	position:absolute;
	top:7px;
	font-family:inherit;
	border-style:none;
	display:block;
}

#user_filter_name_input {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 12px 12px 12px 12px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#filterUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#filterUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #656565; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 12px; /* Increase the font-size */
    color: #FFF; 
    display: block; /* Make it into a block element to fill the whole list */
}

#filterUL li a:hover:not(.header) {color: #ffff00;}

/*FRAMES AND SIZING*/  
  
.prods-nav {
  overflow: auto;
  height: calc(100vh - 3rem);
  background: inherit;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%; }  

.docs-nav {
  overflow: auto;
  height: calc(100vh - 3rem);
  background: #eaeaea;
  padding-top: 1rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%; }
  
.docs-nav-container.is-stuck,.prods-nav-container.is-stuck {
  width: 100%; }
  
article{overflow-y:auto;max-height: calc(100vh - 3rem);} 
	

/*MEDIA QUERIES*/
@media print{
a[href]:after{content:none !important;}
} 
@media only screen and (max-width:1300px){
.search-input,#user_query{width:18rem}
}
@media (min-width:0px) and (max-width:1000px){
.search-input,#user_query{width:10rem}
.grey-band{box-shadow:0px 5px 4px -2px inset #888;border-bottom:1px solid #bababa;padding:1rem;background:linear-gradient(90deg, rgba(235,235,235,1) 0%, rgba(234,234,234,1) 29%, rgba(200,200,200,1) 100%);}
.video_frame{margin-left:1rem;position:absolute;width:320px;height:180px;left:0}
}
@media (max-width:641px){
.searchblock input#user_query{width:18rem}
.searchdrop {position:absolute;margin-left:-18rem}
.content-search-input{display:none}
header{padding:0}
header .branding-col{background:#000}
.top-bar{overflow:visible}
h1,h1.title,h2,h2.title,h3,h3.title,h4,h4.title,h5,h5.title,h6,h6.title,h7,h7.title{font-size:1rem}
a,a.grey-title,p{font-size:.8rem;text-rendering:optimizeLegibility}
}
@media only screen and (max-width:400px){
.searchblock input#user_query{width:10rem}
.searchdrop {position:absolute;margin-left:-10rem}
.main-content,.main-page-content{min-height:200px}
.searchcontainer{padding:.5rem 0 .5rem 1rem}
}
@media (min-height:0px) and (max-height:600px), (min-width:0px) and (max-width:700px){
.welcome-to-help{display:none;}
li.prod_toggle>a>img{transform: scale(0.6, 0.6);}
li.prod_toggle>a>img{margin-top:0rem;margin-bottom:0rem}
}
@media (min-height:0px) and (max-height:500px), only screen and (max-width:600px){
.welcome-to-help{display:none;}
.main_scroll{display:none}
.prod_list_small{display:block;}
a.prod_toggle.small_screen{color:#222;}
} 
@media screen and (max-width: 39.99875em) {
    .docs-nav {
    height: auto; } 
}

@media print {
  body * {
    visibility: hidden;
  }
  #doc_page, #doc_page * {
    visibility: visible;
  }
  #doc_page {
    position: absolute;
    left: 0;
    top: 0;
  }
}