sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 66em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 51em;
}
.stl_03 {
	position: relative;
	width: 51em;
}
.stl_04 {
	height: 6.6em;
}
.ie .stl_04 {
	height: 66em;
}
@font-face {
	font-family:"EOURQA+Times New Roman";
	src:url("20000e04-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_05 {
	font-size: 0.88em;
	font-family: "EOURQA+Times New Roman";
	color: #000000;
}
.stl_06 {
	line-height: 1.107422em;
}
.stl_07 {
	letter-spacing: -0.0035em;
}

.ie .stl_07 {
	letter-spacing: -0.0495px;
}
@font-face {
	font-family:"WMWCLO+æ¥·ä½";
	src:url("6602081f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_08 {
	font-size: 0.88em;
	font-family: "WMWCLO+æ¥·ä½", "Times New Roman";
	color: #000000;
}
.stl_09 {
	line-height: 1em;
}
.stl_10 {
	letter-spacing: -0.0026em;
}

.ie .stl_10 {
	letter-spacing: -0.0366px;
}
.stl_11 {
	letter-spacing: -0.0036em;
}

.ie .stl_11 {
	letter-spacing: -0.0513px;
}
.stl_12 {
	letter-spacing: -0.002em;
}

.ie .stl_12 {
	letter-spacing: -0.0285px;
}
.stl_13 {
	letter-spacing: -0.0033em;
}

.ie .stl_13 {
	letter-spacing: -0.047px;
}
.stl_14 {
	letter-spacing: -0.0034em;
}

.ie .stl_14 {
	letter-spacing: -0.0477px;
}
.stl_15 {
	letter-spacing: -0.0027em;
}

.ie .stl_15 {
	letter-spacing: -0.0385px;
}
.stl_16 {
	letter-spacing: -0.0048em;
}

.ie .stl_16 {
	letter-spacing: -0.0674px;
}
.stl_17 {
	letter-spacing: -0.0039em;
}

.ie .stl_17 {
	letter-spacing: -0.0555px;
}
.stl_18 {
	letter-spacing: -0.0041em;
}

.ie .stl_18 {
	letter-spacing: -0.0578px;
}
@font-face {
	font-family:"RCHGLU+Times New Roman";
	src:url("083f0e3f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.88em;
	font-family: "RCHGLU+Times New Roman", "Times New Roman";
	color: #000000;
}
.stl_20 {
	letter-spacing: -0.0031em;
}

.ie .stl_20 {
	letter-spacing: -0.0437px;
}
.stl_21 {
	letter-spacing: -0.0038em;
}

.ie .stl_21 {
	letter-spacing: -0.0542px;
}
.stl_22 {
	letter-spacing: -0.0037em;
}

.ie .stl_22 {
	letter-spacing: -0.0528px;
}
.stl_23 {
	letter-spacing: -0.0017em;
}

.ie .stl_23 {
	letter-spacing: -0.0234px;
}
.stl_24 {
	letter-spacing: -0.0014em;
}

.ie .stl_24 {
	letter-spacing: -0.0201px;
}
.stl_25 {
	letter-spacing: -0.0019em;
}

.ie .stl_25 {
	letter-spacing: -0.0274px;
}
.stl_26 {
	letter-spacing: -0.0043em;
}

.ie .stl_26 {
	letter-spacing: -0.0601px;
}
.stl_27 {
	letter-spacing: -0.0032em;
}

.ie .stl_27 {
	letter-spacing: -0.0457px;
}
.stl_28 {
	letter-spacing: -0.0029em;
}

.ie .stl_28 {
	letter-spacing: -0.0408px;
}
.stl_29 {
	letter-spacing: -0.0022em;
}

.ie .stl_29 {
	letter-spacing: -0.0307px;
}
.stl_30 {
	letter-spacing: -0.003em;
}

.ie .stl_30 {
	letter-spacing: -0.0426px;
}
.stl_31 {
	letter-spacing: -0.0042em;
}

.ie .stl_31 {
	letter-spacing: -0.0592px;
}
.stl_32 {
	letter-spacing: -0.0028em;
}

.ie .stl_32 {
	letter-spacing: -0.0388px;
}
.stl_33 {
	letter-spacing: 0em;
}

.ie .stl_33 {
	letter-spacing: 0px;
}
.stl_34 {
	letter-spacing: -0.0018em;
}

.ie .stl_34 {
	letter-spacing: -0.0255px;
}
.stl_35 {
	letter-spacing: -0.0023em;
}

.ie .stl_35 {
	letter-spacing: -0.0326px;
}
.stl_36 {
	letter-spacing: -0.0024em;
}

.ie .stl_36 {
	letter-spacing: -0.0336px;
}
.stl_37 {
	letter-spacing: -0.004em;
}

.ie .stl_37 {
	letter-spacing: -0.0559px;
}
.stl_38 {
	letter-spacing: -0.0021em;
}

.ie .stl_38 {
	letter-spacing: -0.0298px;
}
.stl_39 {
	letter-spacing: -0.0045em;
}

.ie .stl_39 {
	letter-spacing: -0.0633px;
}
.stl_40 {
	letter-spacing: -0.0025em;
}

.ie .stl_40 {
	letter-spacing: -0.0349px;
}
.stl_41 {
	letter-spacing: -0.0044em;
}

.ie .stl_41 {
	letter-spacing: -0.0616px;
}
.stl_42 {
	letter-spacing: -0.0008em;
}

.ie .stl_42 {
	letter-spacing: -0.0118px;
}
.stl_43 {
	letter-spacing: -0.0005em;
}

.ie .stl_43 {
	letter-spacing: -0.0066px;
}
.stl_44 {
	letter-spacing: -0.0013em;
}

.ie .stl_44 {
	letter-spacing: -0.0182px;
}
.stl_45 {
	letter-spacing: -0.0012em;
}

.ie .stl_45 {
	letter-spacing: -0.0172px;
}
.stl_46 {
	letter-spacing: -0.0049em;
}

.ie .stl_46 {
	letter-spacing: -0.0688px;
}
.stl_47 {
	letter-spacing: -0.0015em;
}

.ie .stl_47 {
	letter-spacing: -0.0218px;
}
.stl_48 {
	letter-spacing: -0.0047em;
}

.ie .stl_48 {
	letter-spacing: -0.0657px;
}
.stl_49 {
	letter-spacing: -0.0009em;
}

.ie .stl_49 {
	letter-spacing: -0.0126px;
}
.stl_50 {
	letter-spacing: 0.0001em;
}

.ie .stl_50 {
	letter-spacing: 0.0019px;
}
.stl_51 {
	letter-spacing: -0.0016em;
}

.ie .stl_51 {
	letter-spacing: -0.0228px;
}
.stl_52 {
	letter-spacing: -0.0001em;
}

.ie .stl_52 {
	letter-spacing: -0.0012px;
}
.stl_53 {
	letter-spacing: -0.0003em;
}

.ie .stl_53 {
	letter-spacing: -0.004px;
}
.stl_54 {
	letter-spacing: -0.0011em;
}

.ie .stl_54 {
	letter-spacing: -0.016px;
}
.stl_55 {
	letter-spacing: -0.0046em;
}

.ie .stl_55 {
	letter-spacing: -0.0653px;
}
.stl_56 {
	letter-spacing: -0.001em;
}

.ie .stl_56 {
	letter-spacing: -0.0147px;
}
.stl_57 {
	letter-spacing: -0.0006em;
}

.ie .stl_57 {
	letter-spacing: -0.0091px;
}
.stl_58 {
	letter-spacing: -0.0007em;
}

.ie .stl_58 {
	letter-spacing: -0.0102px;
}
.stl_59 {
	letter-spacing: -0.005em;
}

.ie .stl_59 {
	letter-spacing: -0.0701px;
}
.stl_60 {
	letter-spacing: 0.0006em;
}

.ie .stl_60 {
	letter-spacing: 0.0088px;
}
.stl_61 {
	letter-spacing: -0.0004em;
}

.ie .stl_61 {
	letter-spacing: -0.0062px;
}
.stl_62 {
	letter-spacing: -0.0002em;
}

.ie .stl_62 {
	letter-spacing: -0.0026px;
}
.stl_63 {
	letter-spacing: 0.0005em;
}

.ie .stl_63 {
	letter-spacing: 0.0065px;
}
